Repository vanhoof/jiracli-helpers, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci, scripts, dependencies

updating ci
  .github/workflows/ci.yml
  .github/workflows/security.yml
Labels: ci, scripts

updating README for python minimal support
  README.md
Labels: documentation, scripts

updating pyproject for python minimal support
  pyproject.toml
Labels: ci, scripts, dependencies

updating setup for python minimal support
  setup.cfg
Labels: ci, scripts, dependencies

adding primitive support for epic templates we use
  create_issue_interactive.py
  tests/test_create_issue_interactive.py
Labels: tests, scripts

fix-up black CI issues
  create_issue_interactive.py
  tests/test_create_issue_interactive.py
Labels: tests, scripts

fix-up black CI issues
  .github/workflows/ci.yml
  README.md
  create_issue_interactive.py
  tests/__init__.py
Labels: documentation, tests, ci, scripts

tests: removing black and isort for now until I have more time
  .github/workflows/ci.yml
  Makefile
  README.md
  pyproject.toml
  requirements-dev.txt
  setup.cfg
Labels: documentation, ci, scripts, dependencies

tests: rename function that starts with test_ to appease pytest
  create_issue_interactive.py
  tests/test_create_issue_interactive.py
Labels: tests, scripts

tests: make bandit optional for now
  .bandit
  .github/workflows/security.yml
  Makefile
  README.md
  requirements-dev.txt
Labels: documentation, ci, scripts, dependencies

shuffling things around to a src dir
  .bandit
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .gitignore
  Makefile
  README.md
  setup.cfg
  src/__init__.py
  src/create_issue_interactive.py
  tests/test_create_issue_interactive.py
Labels: documentation, tests, ci, scripts, dependencies

src: fixing up the default epic template format wise
  README.md
  src/create_issue_interactive.py
  tests/test_create_issue_interactive.py
Labels: documentation, tests, scripts

src: fixing up the default epic template format wise
  README.md
  src/create_issue_interactive.py
  tests/test_create_issue_interactive.py
Labels: documentation, tests, scripts

src: something is stripping the trailing space for bullets, add default text
  README.md
  src/create_issue_interactive.py
  tests/test_create_issue_interactive.py
Labels: documentation, tests, scripts

adding experimental support for a GUI via electron
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/ScriptRunner.js
  frontend/src/components/Settings.js
  frontend/src/components/SetupWizard.js
  frontend/src/index.css
  frontend/src/index.js
Labels: scripts

adding build workflow file
  .github/workflows/build-desktop.yml
  .gitignore
  README.md
  start
Labels: documentation, ci, scripts

frontend: small change to test build
  frontend/src/App.js
Labels: scripts

adjusting gitignore for public directory in frontend
  frontend/public/electron.js
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/preload.js
Labels: scripts

frontend: adding zip as a target for macos
  frontend/package.json
Labels: scripts

frontend: adjusting zip target
  .github/workflows/build-desktop.yml
  .gitignore
Labels: ci, scripts

frontend: trivial change to check build
  frontend/README.md
Labels: scripts

frontend: adding application icon
  frontend/package.json
  frontend/public/electron.js
  frontend/public/manifest.json
Labels: scripts

frontend: adding application icons
  frontend/public/CherryIcon.icns
  frontend/public/CherryIcon.png
Labels: scripts

frontend: changing default colors to pink
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/ScriptRunner.js
Labels: scripts

frontend: add git as a dependency to check on
  frontend/public/electron.js
  frontend/public/preload.js
  frontend/src/App.js
  frontend/src/components/ScriptRunner.js
  frontend/src/components/Settings.js
  frontend/src/components/SetupWizard.js
Labels: scripts

frontend: make system status grid 2x2 vs 3x2 for now
  frontend/src/components/Settings.js
Labels: scripts

frontend: update default emoji
  frontend/src/components/SetupWizard.js
Labels: scripts

frontend: support git fetch and fresh install of jcli
  frontend/public/electron.js
  frontend/public/preload.js
  frontend/src/components/Settings.js
Labels: scripts

src: update jcli saved path
  src/create_issue_interactive.py
Labels: scripts

frontend: fix issue when exiting script not refreshing landing page
  frontend/src/components/ScriptRunner.js
Labels: scripts

tests: update to new location for saving jcli install location
  tests/test_create_issue_interactive.py
Labels: tests

workflows: do not limit builds when files in frontend/ change
  .github/workflows/build-desktop.yml
Labels: ci, scripts

workflows: add releases
  .github/workflows/build-desktop.yml
Labels: ci, scripts

workflows: adjust build dependencies
  .github/workflows/build-desktop.yml
Labels: ci, scripts

start: trivial change to test build failure
  start
Labels: scripts

.github/labeler.yml:

# Automatically label PRs based on file changes

"documentation":
  - "*.md"
  - "docs/**/*"

"tests":
  - "tests/**/*"
  - "**/*test*.py"

"ci":
  - ".github/**/*"
  - ".github/workflows/*"
  - "Makefile"
  - "requirements*.txt"
  - "setup.cfg"
  - "pyproject.toml"

"scripts":
  - "*.py"
  - "!tests/**/*"

"dependencies":
  - "requirements*.txt"
  - "setup.cfg"
  - "pyproject.toml"
